%h1 今日のスケジュール

%table.table.table-striped
  %tr
    %th 放送時刻
    %th チャンネル
    %th(colspan=2) タイトル
  - @programs.each do |program|
    %tr
      %td= anime_time_format program.start_at
      %td= program.channel.name
      %td= program.title.name
      %td= "##{program.no} #{program.subtitle}"
