- unless user_signed_in?
  .hero-unit
    %h2 No Anime, No Life.
    %p
      ログインして充実のアニメ生活。
      %br
      = render 'login_google'

.clearfix
  %h1.pull-left= t('view.programs.title')
  - if user_signed_in?
    #program-controls.pull-right.btn-group(data-toggle="buttons-radio")
      %button.btn.active#show-watching= t('domain.watchings')
      %button.btn#show-watchable= t('domain.watchables')
      %button.btn#show-all= t('domain.all-programs')

%table.table.table-hover
  %thead
    %tr
      %th= t 'models.program.start'
      %th= t 'models.program.channel'
      %th= t 'models.program.title'
      %th= t 'models.program.subtitle'
      - if user_signed_in?
        %th= t 'domain.watchings'
  %tbody#programs{'class' => user_signed_in? ? 'my-programs' : 'all-programs'}
    - @programs.each do |program|
      = program_row(program, @title_ids, @channel_ids) do
        %td= anime_time_format program.start_at
        %td= program.channel.name
        %td= program.title.name
        %td= "##{program.no} #{program.subtitle}"
        - if user_signed_in?
          %td= toggle_watch_button(program.title, @title_ids)



