%h1= t 'view.global.config_titles'

.tabbable.tabs-left
  %ul#title-group.nav.nav-tabs
    %li
      = link_to t('view,titles.tab.current'), titles_path
      = link_to t('view.titles.tab.all'), initial_titles_path('all')
    - %w{あ か さ た な は ま や ら わ}.each do |initial|
      %li
        = link_to initial, initial_titles_path(initial)

  .tab-content
    = paginate @titles

    %table.table.table-striped
      %thead
        %tr
          %th= t 'models.program.title'
          %th= t 'domain.watchings'
      %tbody
        - @titles.each do |title|
          %tr
            %td= title.name
            %td= toggle_watch_button(title, @watching_ids)

    = paginate @titles
