!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "LifePlan"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = google_webfonts_init google: ['Cherry Swash', 'Noto Sans', 'Droid Sans', 'Droid Serif']

  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") LifePlan
          .container.nav-collapse
            %ul.nav
              %li
                = link_to :root do
                  %i.icon-list-alt
                  = t 'view.global.schedule'
              %li
                = link_to :api_v1 do
                  %i.icon-file
                  = t 'view.global.API'
              - if user_signed_in?
                %li
                  = link_to :channels do
                    %i.icon-cog
                    = t 'view.global.config_channels'
                %li
                  = link_to :titles do
                    %i.icon-cog
                    = t 'view.global.config_titles'
            - if user_signed_in?
              %ul.nav.pull-right
                %li.dropdown
                  %a.dropdown-toggle(href="#" data-toggle="dropdown")
                    %i.icon-user
                    = current_user.name
                    .caret
                  %ul.dropdown-menu
                    %li
                      = link_to :oauth_authorized_applications do
                        %i.icon-wrench
                        = t 'view.global.applications'
                    %li
                      = link_to :sign_out do
                        %i.icon-remove
                        = t 'view.global.sign_out'
            - else
              .nav.pull-right
                = link_to user_omniauth_authorize_path(:google_oauth2) do
                  .btn-group
                    %button.btn.btn-danger
                      %i.icon-google-plus
                      Sign in with Google

    .container-fluid
      .row-fluid
        .span12
          = bootstrap_flash
          = yield

      %footer.pull-right
        %p
          &copy; masarakki
          %br
          %strong Contact
          = link_to "twitter", "http://twitter.com/masarakki"
          \/
          = mail_to "masarakki@np-complete-doj.in", "mail"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    :coffee
      I18n.defaultLocation = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"

