!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "LifePlan"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = google_webfonts_init google: ['Cherry Swash', 'Noto Sans', 'Droid Sans', 'Droid Serif']
    = display_meta_tags
    = favicon_link_tag "favicon.png"

  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/") LifePlan
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li
              = link_to :root do
                = icon 'list-alt'
                = t 'view.global.schedule'
            %li
              = link_to :api_v1 do
                = icon 'file'
                = t 'view.global.API'
            - if user_signed_in?
              %li
                = link_to :channels do
                  = icon 'cog'
                  = t 'view.global.config_channels'
              %li
                = link_to :titles do
                  = icon 'cog'
                  = t 'view.global.config_titles'
          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown")
                  = icon 'user'
                  = current_user.name
                  .caret
                %ul.dropdown-menu
                  %li
                    = link_to :oauth_authorized_applications do
                      = icon 'wrench'
                      = t 'view.global.applications'
                  %li
                    = link_to :sign_out do
                      = icon 'remove'
                      = t 'view.global.sign_out'
          - else
            .nav.navbar-btn.navbar-right
              = render 'login_google'

    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
      %footer.pull-right
        %p
          &copy; masarakki
          %br
          %strong Contact
          = link_to "twitter", "http://twitter.com/masarakki"
          \/
          = mail_to "masarakki@np-complete-doj.in", "mail"

    = javascript_include_tag "application"
    :coffee
      I18n.defaultLocation = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
